{% include 'html/base.html' %} {% block content %} {%block head %}
<title>Himani'sCC || Who-We-Are </title>{% endblock head %}



<!-- Hero Section -->
<div class="bg-primary bg-img-hero banner-everywhere" style="background-image: url(/assets/svg/components/abstract-shapes-5.svg);">
    <div class="container space-2 space-lg-3">
        <div class="w-lg-65 text-center mx-lg-auto">
            <span class="badge badge-soft-light bordered-element-light font-size-1 py-3 px-4 mb-3">About Us
            </span>
            <h1 class="text-white mb-0">Voice of a Brand, We make your brand heard.
            </h1>
        </div>
    </div>
</div>
<!-- End Hero Section -->


<main class="himani-main">
    <div class="container space-2">
        <div class="row">
            <div class="col-lg-6 mb-7 mb-lg-0">
                <div class="mb-4">
                    <h2 class="h1">Himani's CC</h2>
                </div>

                <p>A brand and communication professionals are always getting pulled in many directions. Sales wants something new,</p>
                <p> while product team wants all the features to be highlighted. Boss is pointing “something is missing here” and asking for change. If you are facing the above situations</p>
                <p>we are here to help you out."</p>
            </div>

            <div class="col-md-6">
                <img class="img-fluid" src="/assets/img/About SVG/Business decisions-bro.svg">
            </div>
        </div>


        <div class="row justify-content-lg-end">
            <div class="col-lg-12">
                <h4 class="h2 mb-4">Why Choose Us?</h4>
                <p>We will make your brand identity emerge with colour, images and fonts that bring it to life. Your message will be clear, concise and easy to interpret. Our specialty is combining typography with custom illustration for visual impact.</p>
                <p>Understanding the trends, consumer and brand context help us to develop innovative strategy that will address a rational and emotional demand. We work as your growth partners and commit Return on your (Marketing) Investment (ROI)! </p>


                <ul class="">
                    <li class="about-main-list"><span class="about-list">Experienced design professionals : </span>team comprises qualified senior design professionals.</li>

                    <li class="about-main-list"><span class="about-list">Your end goal and brand in mind : </span>We are committed to creating world class marketing pieces with your end goal and brand in mind.</li>

                    <li class="about-main-list"><span class="about-list">Colour psychology : </span>To help you outsell your competition, our designers are trained in colour psychology and the dramatic effect it has on sales.</li>

                    <li class="about-main-list"><span class="about-list">Research your industry : </span>To ensure the best possible results for your business, we will research your industry, trends and target market before commencing a project.
                    </li>

                    <li class="about-main-list"><span class="about-list">A Trans-Tasman alliance : </span>We have the benefit of two locations and two teams working together. This means we can keep you up-to-date on what’s happening over the ditch and you’re on top of all current
                        marketing trends.</li>

                    <li class="about-main-list"><span class="about-list">Prompt, reliable and on time service :
                        </span>You can always depend on us for fast, reliable, on time service. When we give you a delivery date, you can count on it.</li>

                    <li class="about-main-list"><span class="about-list">No hidden cost surprises :</span>All designers are trained to work within budget to ensure no hidden surprises.</li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End Features Section -->














    <div class="container space-2">
        <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
            <span class="d-block small font-weight-bold text-cap mb-2">What you get</span>
            <h2>Amazing Services By "Himani’s CC"</h2>
        </div>

        <div class="row justify-content-lg-center">
            <div class="col-md-6 col-lg-6 mb-3 mb-md-5 mb-lg-7">
                <div class="media pr-lg-5">
                    <figure class="w-100 max-w-8rem mr-4 home-service-icon">
                        <i class="fas fa-coins"></i>
                    </figure>
                    <div class="media-body">
                        <h4>Cost Efficient</h4>
                        <p>Cost efficiency is the act of saving money by changing a product or process to work in a better way
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 mb-3 mb-md-5 mb-lg-7">
                <div class="media pl-lg-5">
                    <figure class="w-100 max-w-8rem mr-4 home-service-icon">
                        <i class="fas fa-file"></i>
                    </figure>
                    <div class="media-body">
                        <h4>Project Management</h4>
                        <p>Project management is the application of processes, methods, skills, knowledge and experience to achieve dreams</p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-6 mb-3 mb-md-5 mb-lg-7">
                <div class="media pr-lg-5">
                    <figure class="w-100 max-w-8rem mr-4 home-service-icon">
                        <i class="fas fa-clock"></i>
                    </figure>
                    <div class="media-body">
                        <h4>Minimal Timelines</h4>
                        <p>We deliver best in a small amount, or the least amount possible.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 mb-3 mb-md-5 mb-lg-7">
                <div class="media pl-lg-5">
                    <figure class="w-100 max-w-8rem mr-4 home-service-icon">
                        <i class="fas fa-file-contract"></i>
                    </figure>
                    <div class="media-body">
                        <h4>Effective Communication</h4>
                        <p>properly encoded. delivered through appropriate channel.</p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-6 mb-3 mb-md-5 mb-lg-0">
                <div class="media pr-lg-5">
                    <figure class="w-100 max-w-8rem mr-4 home-service-icon">
                        <i class="fas fa-broom"></i>
                    </figure>
                    <div class="media-body">
                        <h4>Quality Standards</h4>
                        <p>Quality standards are sets of good management practices, methods, systems and requirements.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="media pl-lg-5">
                    <figure class="w-100 max-w-8rem mr-4 home-service-icon">
                        <i class="fas fa-heart"></i>
                    </figure>
                    <div class="media-body">
                        <h4>Lifetime Support
                        </h4>
                        <p>our lifetime support is a detailed set of support structures we have deployed throughout our Network.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>











    <div class="space-bottom-3">


        <div class="row">
            <div class="col-md-6 bg-navy">
                <div class="w-md-100 w-lg-90 mx-md-auto m-5">
                    <h2 class="text-white">Our Team</h2>
                    <span class="d-block small text-white font-weight-bold text-cap mb-2">Our Trust Warriors</span>
                </div>
                <div class=" w-md-100 content mx-md-auto text-white w-lg-90 mb-5">
                    <p class="">Our Graphic Design team is here to help your company inform consumers about who you are and what you do. Whether it is through your brand or other visual assets, we are here to help. We encourage opinions and value creativity through
                        listening to you. We strive to create an identity that will stand the test of time and be your own.</p>
                    <p class=""> Designers have their own language. There are words that only we understand. The subtle language that quietly captures your customer’s attention with the creative use of colours, symbols and images.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Features Section -->
                <div class="">
                    <div class="">
                        <div class="content">
                            <p class="">Designer | Researchers | Media Planners | Digital Illustrator | Copywriter Collective we have more than 50+ year’s of experience as a one team.</p>
                        </div>
                        <div class="">
                            <div class="js-slick-carousel slick slick-equal-height ie-slick-equal-height slick-gutters-3" data-hs-slick-carousel-options='{
                                    "prevArrow": "<span class=\"fas fa-arrow-left slick-arrow slick-arrow-primary-white slick-arrow-left slick-arrow-centered-y shadow-soft rounded-circle ml-n2\"></span>",
                                    "nextArrow": "<span class=\"fas fa-arrow-right slick-arrow slick-arrow-primary-white slick-arrow-right slick-arrow-centered-y shadow-soft rounded-circle mr-n2\"></span>",
                                    "slidesToShow": 1,
                                    "infinite": true,
                                    "dots": true,
                                    "dotsClass": "slick-pagination slick-pagination-white d-none mt-5",
                                    "responsive": [{
                                      "breakpoint": 992,
                                      "settings": {
                                        "slidesToShow": 1
                                        }
                                      }, {
                                      "breakpoint": 768,
                                      "settings": {
                                        "slidesToShow": 1
                                        }
                                      }, {
                                      "breakpoint": 554,
                                      "settings": {
                                        "slidesToShow": 1
                                      }
                                    }]
                                  }'>
                                <div class="js-slide">
                                    <div class="row align-items-center p-5">
                                        <div class="col-md-6">
                                            <h4 class="">Prashant Chavan</h4>
                                            <p class="font-size-1 team-designation">Founder & Brand Consultant</p>
                                            <a class="view-profile" href="{% url 'profiledetails'%}"> View Full Profile</a>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="">
                                                <img class="card-img-top" style="width: 250px; border-radius: 100%;" src="/assets/img/160x160/img1.jpg" alt="Image Description">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="js-slide">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <h4 class="">Prashant Chavan</h4>
                                            <p class="font-size-1 team-designation">Founder & CEO</p>
                                            <a class="view-profile" href="{% url 'profiledetails'%}"> View Full Profile</a>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="">
                                                <img class="card-img-top" style="width: 250px; border-radius: 100%;" src="/assets/img/160x160/img1.jpg" alt="Image Description">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content ">
                                <p class="">TEAM Skills:<br />Creativity | Quick Thinking | Customer Focus | Innovation | Storytelling | Writing | Listening | Planning | Research | Analytical | Knowledge of media trends | Problem solving | Brand Strategy | Communication
                                    | Multitasking | Teamwork</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}