{% extends 'html/base.html' %} {% load social_share %} {% load humanize%} 

{% block head %}
<title>Himani'sCC || {{job.job_title}} 

</title>
    <meta property="og:title" content="We Are Hiring - www.himanicc.com - {{ job.job_title }}">
    <meta property="og:description" content="{{job.description | safe}}description">

    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="job"/>
    <meta name="robots" content="noarchive">




{% endblock head %}


{% block content %}


<!-- End Hero Section -->
<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-13 justify-content-center space-top-3 space-bottom-2">
                <div class=" mx-lg-auto">
                    <h3>{{job.job_title}}</h3>
                    <div class="mt-5">
                        {% for tag in job.skills.all %}
                        <form action="{% url 'skillsearch' tag %}" method="GET">

                            <button class="btn btn-xs btn-soft-secondary mb-1 bordered-element-light" name="tag" type="submit" value="{{tag}}">{{tag}}</button> {% endfor %}
                        </form>
                            <div class=" mb-sm-0">

                                <div class="d-flex align-items-center">
    
                                    <span class="d-block small font-weight-bold text-cap mr-2">Share:</span>
    
                                    <button class="btn btn-share twitter-i">{% post_to_twitter b.title b "<i class='fab fa-twitter'></i>" %}</button>
                                    <button class="btn btn-share linkedin-i"><a href="http://www.linkedin.com/shareArticle?url={{request.get_host}}{{ request.get_full_path }}" target="_blank"><i class="fab fa-linkedin"></i></a></button>
                                    <button class="btn btn-share facebook-i">{% post_to_facebook  b.get_absolute_url "<i class='fab fa-facebook'></i>" %}</button>
                                    <button class="btn btn-share email-i">{% send_email b.title "New Song: {{b.title}}. Check it out!" b "<i class='fas fa-envelope'></i>" %}</button>
                                    <button class="btn btn-share whatsapp-i">{% post_to_whatsapp b "<i class='fab fa-whatsapp'></i>" %}</button>
                                    <button class="btn btn-share share-i clipboard"><i class='fas fa-link'></i></button>
                                    <p class="copied"></p>
    
                                </div>
                                
                            </div>

                    </div>
                    <div class="mb-4">
                        {{job.description | safe}}
                    </div>
                </div>


                <div >

           

                    <!-- Share -->
                    <div class="row justify-content-sm-between align-items-sm-center ">

                       
                        <div class="card-body" id="jobAppForm">
                            <div class="mb-4 ">
                                <h2>Apply Now </h2>
                                <h3>Fill out the form and we'll be in touch as soon as possible.</h3>
                            </div>
                            
                            <form href="{% url 'career'%}" method="POST" enctype="multipart/form-data">
                                {% csrf_token%} 
                                <div class="row mx-n2 ">
                                    <div class="col-sm-6 px-2 ">
                                        <div class="js-form-message form-group " >
                                            <label for="">Postion:</label>
                                               <input class="form-control"style="border-color:#007bb6;" disabled type="text" value="{{job.job_title}}"> 
                                        </div>
                                    </div>

                                    <div class="col-sm-6 px-2 mt-2">
                                        <div class="js-form-message form-group ">
                                            <label for=""></label>    
                                            {{candidateform.name}}
                                        </div>
                                    </div>

                                    <div class="col-sm-6 px-2 ">
                                        <div class="js-form-message form-group ">
                                            {{candidateform.email}}
                                        </div>
                                    </div>

                                    <div class="col-sm-6 px-2 ">
                                        <div class="js-form-message form-group ">
                                            {{candidateform.phone_no}}
                                        </div>
                                    </div>


                                    <div class="col-sm-12 px-2 ">
                                        <div class="js-form-message form-group ">
                                            <div class="js-form-message form-group ">
                                                {{candidateform.additional_info}}
                                            </div>
                                            <div class="js-form-message  d-flex form-group ">
                                                <div class="mr-10 m-1">

                                                    <label class="mr-6">Resume: </label>
                                                    
                                                    {{candidateform.resume}} 
                                                </div>

                                             <button type="submit " style="margin-left:10%" class="btn w-20 btn-block btn-primary ">Submit</button>
                                            </div>
                                             {% comment %} <input type="file" name="resume"> {% endcomment %}
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <script>
                            var $temp = $("<input>");
                            var $url = $(location).attr('href');

                            $('.clipboard').on('click', function() {
                                $("body").append($temp);
                                $temp.val($url).select();
                                document.execCommand("copy");
                                $temp.remove();
                                $(".copied").text("URL copied!");
                            })


                            $(function() {
                                $('[data-toggle="tooltip"]').tooltip()
                            })
                        </script>
                    </div>
                    <!-- End Share -->

                </div>
            </div>
{% comment %} 
            <div class="col-md-3 space-3">
                <div class="row">
                    <div class="container">
                        <div class="mb-7">
   
                        </div>


                     
                        <!-- Sticky Block Start Point -->
                </div>
            </div> {% endcomment %}
        </div>
    </div>

</section>
<!-- End Blogs Section -->

{% endblock content %}