{% include 'html/base.html' %} {% block content %} {%block head %}
<title>Himani'sCC || Contact </title>{% endblock head %}




<style>
    .typing-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:black;
        border-radius:5px
  }
   .input-cursor {
        display: inline-block;
        width: 2px;
        height: 42px;
        margin-left: 8px;
  }
  @keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }
.input-cursor { 
  animation: blink .6s linear infinite alternate;
}
</style>



<!-- Hero Section -->
<div class="align-items-center carrierBG" style=" background-image: url(/assets/img/contact/contact1.jpg);">

    <div class="contact-sec-2 text-center d-flex justify-content-center w-100 ">
        <div class="container" style="    margin-top: 5%;    ">
            <div class="Content w-md-100 space-bottom-1">

                

                  
                <h2>Need Some Business Advice Let's Talk</h2>
                <p class="text-dark">Looking for some Branding & Business growth advice to move your business forward?<br/>Let’s talk about how I can help your business</p>
    
                <a class="btn btn-primary text-center  " style="color:white;background-color:black"  href="#modal" data-toggle="modal" data-target="#exampleModal">Click Here</a>
            </div>
    
        </div>
    </div>
</div>


<!-- End Hero Section -->
<div class="typing-container" >
    <span id="sentence" class="sentence text-white" style="font-size:25px; font-weight:700"></span>
    <span class="input-cursor"></span>

    
</div>
<div class="position-relative d-flex align-items-center justify-content-center contact-r-card">
    <div class="container mt-3">
            <p class="sub-heading text-dark"  style="font-size:25px; font-weight:700; text-align:center;">Feel Free to contact us.</p>
        <div class="row d-flex align-items-center space-bottom-4">

            <div class="col-md-4 mb-3 mb-md-0 mb-md-n11 transform-1">
                <a class="card text-center mid-contact-card-2 rotate-cardn-5 transition-3d-hover" style="    background-color: #d0d4d6;" href="{% url 'services'%}#frame-2 ">
                    <div class="card-body p-lg-5">
                        <figure class="max-w-8rem w-100 mx-auto mb-4 co-icon">
                            <i class="fas fa-clock"></i>
                        </figure>
                        <h3 class="h4">Working Hours </h3>
                        <p class="text-body mb-0">10:00am - 06:00pm Monday to Saturday </p>
                    </div>
                    <div class="card-footer font-weight-bold py-3 px-lg-5">
                        About Company <i class="fas fa-angle-right fa-sm ml-1"></i>
                    </div>
                </a>
            </div>
            

            <div class="col-md-4 mb-3 mb-md-0 mb-md-n11">
                <div class="card text-center mid-contact-card transition-3d-hover" style="    background-color: #007bb6;">
                    <div class="card-body p-lg-5 d-flex justify-content-center flex-column">
                        <figure class="max-w-8rem w-100 mx-auto mb-4 co-icon text-white">
                            <i class="fas fa-address-book"></i>
                        </figure>
                        <h3 class="h4">Contact Details </h3>
                        <p class=" mb-0 text-white">Mobile : +91 97692 10723 </p>
                        <p class="text mb-0 text-white">Email : prashant@himanicc.com </p>
                    </div>
                    <div class="card-footer row" style="margin: 0; padding:0;">
                        <div class=" col-md-6" style="padding: 5px 0 5px 5px;">
                            <a class="btn btn-soft-navy text-white btn-block bordered-element-light text-dark" href="mailto:prashant@himanicc.com ">Email Us</a>
                        </div>
                        <div class="col-md-6" style="padding: 5px 5px 0px 5px;">
                            <a class="btn btn-primary  text-white btn-block bordered-element-light"  href="tel:+919769210723">Call Us</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0 mb-md-n11 transform-1">
                <a class="card text-center mid-contact-card-2 rotate-card-5 transition-3d-hover " target="_blank" style="    background-color: #d0d4d6;"href=" https://www.google.com/maps/place/Himani's+Creative+Communication/@19.1044896,72.8760539,15.25z/data=!4m5!3m4!1s0x3be7c92ded89c96d:0x1a94420a5f2164d1!8m2!3d19.1088565!4d72.8796685">
                    <div class="card-body p-lg-5">
                        <figure class="max-w-8rem w-100 mx-auto mb-4 co-icon">
                            <i class="fas fa-map-pin "></i>
                        </figure>
                        <h3 class="h4 ">Address</h3>
                        <p class="text-body mb-0 ">Marol, Andheri E, Mumbai 59 | India</p>
                    </div>
                    <div class="card-footer font-weight-bold py-3 px-lg-5 "> 
                        Navigate Map <i class="fas fa-angle-right fa-sm ml-1 "></i>
                    </div>
                </a>
            </div>
            

        </div>
    </div>
</div>








<div class="modal fade bordered-element-light align-item-center" id="exampleModal" tabindex="-5" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Let's Connect </h5>
                <button type="button" class="btn btn-xs btn-icon btn-soft-secondary bordered-element-light" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true " width="10 " height="10 " viewBox="0 0 18 18 "
                        xmlns="http://www.w3.org/2000/svg ">
                        <path fill="currentColor "
                            d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1
                        c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z " />
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="media d-block d-sm-flex ">
                            <div class="media-body media-body-team ">


                                <form class="js-validates " action="{% url 'contact' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="card-body p-4 p-md-7 ">
                                        <div class="mb-4 ">
                                            <h3>Fill out the form and we'll be in touch as soon as possible.</h3>
                                        </div>

                                        <div class="row mx-n2 ">
                                            <div class="col-sm-6 px-2 ">

                                                <div class="js-form-message form-group ">
                                                    {{form.fname}}
                                                </div>

                                            </div>

                                            <div class="col-sm-6 px-2 ">

                                                <div class="js-form-message form-group ">
                                                    {{form.email}}
                                                </div>

                                            </div>

                                            <div class="col-sm-6 px-2 ">

                                                <div class="js-form-message form-group ">
                                                    {{form.number}}
                                                </div>

                                            </div>

                                            <div class="col-sm-6 px-2 ">

                                                <div class="js-form-message form-group ">
                                                    {{form.service}}
                                                </div>

                                            </div>

                                            <div class="col-sm-6 px-2 ">

                                                <div class="js-form-message form-group ">
                                                    {{form.website}}
                                                </div>

                                            </div>



                                            <div class="col-sm-12 px-2 ">
                                                <div class="js-form-message form-group ">
                                                    {{form.comment}}
                                                </div>

                                            </div>
                                        </div>

                                        <button type="submit " class="btn btn-block btn-primary ">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    async function typeAndDeleteSentence(sentence, eleRef, delay = 40, skipDelete = false) {
        const letters = sentence.split("");
        let i = 0;
        while (i < letters.length) {
            await waitForMs(delay);
            $(eleRef).append(letters[i]);
            i++;
        }
        await waitForMs(2000);  // Wait for 2 seconds after typing
        if (!skipDelete) {
            while (letters.length > 0) {
                await waitForMs(20);  // Faster character removal
                letters.pop();
                $(eleRef).html(letters.join(""));
            }
        }
    }

    function waitForMs(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    $(document).ready(async function () {
        await typeAndDeleteSentence("We are looking for new Exciting Projects and collaborations.", "#sentence");
        await typeAndDeleteSentence("Feel Free to contact us....", "#sentence", 50, true); // Skip deletion
    });
</script>

{% endblock content %}