{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->

    <!-- Required Meta Tags Always Come First -->
    {%block title %} {% endblock title %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/{{ blog.thumbnail.url }}"/>
    <meta property="og:title" content="{{ blog.title }}">
    <meta property="og:description" content="{{ blog.description }}">
    <meta property="og:image" content="{{ blog.thumbnail.url }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
	<meta property="og:type" content="article">
    <!--Insert Favicon Here-->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/assets/img/hcc-logo-final-96x96.png" type="image/x-icon">
    <!-- Font Family Link -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
    <link rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="/assets/vendor/hs-video-bg/dist/hs-video-bg.min.css">
    <link rel="stylesheet" href="/assets/vendor/aos/dist/aos.css">
    <link rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/assets/vendor/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/assets/vendor/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- Full Page-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/fancybox/dist/jquery.fancybox.css" />


    <!-- CDN  -->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/alvarotrigo/fullPage.js/master/jquery.fullPage.css" />


    <!-- CSS Front Template -->
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" style="text-align: center;">
        {{message}}

    </div>


    {% endfor %} {% block content %} {% endblock content%}






    <!-- min.js -->
    <script type="text/javascript" src="https://cdn.rawgit.com/alvarotrigo/fullPage.js/master/jquery.fullPage.js"></script>



    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
    <script src="/assets/vendor/hs-video-bg/dist/hs-video-bg.min.js"></script>
    <script src="/assets/vendor/typed.js/lib/typed.min.js"></script>
    <script src="/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
    <script src="/assets/vendor/hs-header-fullscreen/dist/hs-header-fullscreen.min.js"></script>
    <script src="/assets/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="/assets/vendor/hs-header/dist/hs-header.min.js"></script>



    <!-- JS Implementing Plugins -->
    <script src="/assets/vendor/aos/dist/aos.js"></script>
    <script src="/assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/assets/vendor/hs-counter/dist/hs-counter.min.js"></script>
    <script src="/assets/vendor/appear.js"></script>
    <script src="/assets/vendor/leaflet/dist/leaflet.js"></script>
    <script src="/assets/vendor/fancybox/dist/jquery.fancybox.js"></script>
    <script src="/assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>


    <script src="/assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script>


    <!-- JS Front -->
    <script src="/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/assets/js/hs.core.js"></script>
    <script src="/assets/js/hs.slick-carousel.js"></script>
    <script src="/assets/js/hs.validation.js"></script>
    <script src="/assets/js/hs.cubeportfolio.js"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Main.js is the main Javascript file containing main code to run high level fetures in the website -->
    <script src="/assets/js/main.js"></script>

    <!-- The Script is used for Internet Explorer || Mainly Required || Polifills is used for Displaying Newe features in old browers  -->
    <script>
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="/assets/vendor/polifills.js"><\/script>');
    </script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0ENTQ9PB6P"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0ENTQ9PB6P');
</script>
</body>

</html>