{% include 'html/base.html' %} {% block content %} {%block head %}
<title>Himani'sCC || Prashant Chavan </title>{% endblock head %}



<div class="container space-top-3 space-bottom-1">
    <div class="border-bottom w-md-100 w-lg-100 space-bottom-2 mx-md-auto">
        <div class="media d-block d-sm-flex">
            <div class="position-relative mx-auto mb-3 mb-sm-0 mr-sm-4" style="width: 300px; height: 300px;">
                <img class="img-fluid" src="/assets/img/Team/Prashnat.png" alt="Image Description" width="300" height="300">
            </div>

            <div class="media-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h1 class="h1">Prashant Chavan</h1>

                </div>



                <p class="mb-0"><a>Founder & Brand Consultant</a></p>
                <p>phone: +91 9769210723
                <br> Email: prashant@himanicc.com, himanicc@hotmail.com
                <br> URL: <a href="https://www.himanicc.com" target="_blank">  www.himanicc.com </a>
                <br> FB:<a href="https://www.facebook.com/prashant.chavan22" target="_blank"> www.facebook.com/prashant.chavan22 </a>
                <br> IN: <a href="https://www.linkedin.com/in/prashantchavan/" target="_blank">www.linkedin.com/in/prashantchavan/</a>
                    </p>
                <div class="row text-body font-size-1 mb-2 align-items-center justify-content-between">
                    <div class="d-block">
                        <button type="button" class="btn">Follow</button>
                    </div>
                    <div class="d-block" style="padding-right: 10px;">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-group-sm btn-icon  bordered-element" target="_blank" href="https://www.linkedin.com/in/himanicc/">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-group-sm btn-icon  bordered-element" target="_blank" href="https://www.facebook.com/himanicc">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-group-sm btn-icon  bordered-element" target="_blank" href="https://wa.me/9869220672">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End User Profile Section -->








































<div class="container space-bottom-2">
    <div id="basicsAccordion">
        <div class=" mb-3 bg-navy" style="box-shadow: none;">
            <div class="card-header card-collapse " id="basicsHeadingOne" style="border-radius: 0; box-shadow: none;">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 " data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="true" aria-controls="basicsCollapseOne">
              About Me
      
                <span class="card-btn-toggle">
                  <span class="card-btn-toggle-default">+</span>
                  <span class="card-btn-toggle-active">−</span>
                </span>
              </button>
                </h5>
            </div>
            <div id="basicsCollapseOne" class="collapse show" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion">
                <div class="card-body">
                    <div class="w-lg-100 mx-lg-auto">
                        <p class="mb-3 text-white"><span class="text-white" >I, <b>Prashant Chavan</b>, Founder & Brand Consultant of <b>“Himani’s CC.”</b> I love sharing my passion and knowledge with my team and I love learning from them too. Altogether we create innovative, timeless and iconic design that creates desire. 
                        </p>
                        <p class="mb-2 text-white"><span class="text-white" >I've tried to create a niche market for Two Birds, One Stone Design by offering up-scale quality creative and project management, without the associated up-scale costs. </p>
                        <p class="mb-2 text-white"><span class="text-white" >
                            Having 23 years of Advertising experience, based on the experience and qualification, I am providing you exclusive design on your brief.
                            </p> <br>
                          

                    </div>
                </div>

            </div>
        </div>

        <div class=" mb-3 bg-navy" style="box-shadow: none;">
            <div class="card-header card-collapse " id="basicsHeadingOne" style="border-radius: 0; box-shadow: none;">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 " data-toggle="collapse" data-target="#basicsCollapseSecond" aria-expanded="true" aria-controls="basicsCollapseSecond">
              Awards & Recognitions 
      
                <span class="card-btn-toggle">
                  <span class="card-btn-toggle-default">+</span>
                  <span class="card-btn-toggle-active">−</span>
                </span>
              </button>
                </h5>
            </div>
            <div id="basicsCollapseSecond" class="collapse show" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion">
                <div class="card-body">
                    <div class="w-lg-100 mx-lg-auto">
                        <p class="mb-3 text-white"><span class="text" ><b>Employee of the Year 2010 & 2012 </b>| for simplification on advertising process and saving marketing budget. – Samsonite South Asia Pvt Ltd <br>

                        <b> Employee of the Year 2008 </b>| for TV commercial Concept & Execution – Samsonite South Asia Pvt Ltd <br>
                             
                    <b> Corporate Photography Award 2007 </b>   – Travel Magazine – Samsonite South Asia Pvt Ltd
                             <br>
                          

                    </div>
                </div>

            </div>
        </div>

        <div class=" mb-3 bg-navy" style="box-shadow: none;">
            <div class="card-header card-collapse " id="basicsHeadingOne" style="border-radius: 0; box-shadow: none;">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 " data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="true" aria-controls="basicsCollapseThree">
                        Skills
                <span class="card-btn-toggle">
                  <span class="card-btn-toggle-default">+</span>
                  <span class="card-btn-toggle-active">−</span>
                </span>
              </button>
                </h5>
            </div>
            <div id="basicsCollapseThree" class="collapse show" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion">
                <div class="card-body">
                    <div class="w-lg-100 mx-lg-auto">
                        <p class="mb-3 text-white"><span class="text" >•	Brand Strategy, Product development & Campaign Management <br>
                            •	Analytical mind, negotiation skills, ability to develop strong working relationships. <br>
                            •	Commercial and business awareness, good communications skills.<br><br>
                           <b> Expertise:</b>  Creative & Concept Design, Direction, Communication, Sketching, Team Work, Leadership & Management<br><br>
                            <b> Hobbies:</b>  Art & Design, Photography, Writing & Boxing<br><br>
                            <b> Personal Interest:</b>  Traveling, Reading, Swimming, Listening Music & Watching movies<br><br>
                            <b> Activity of Interest:</b>  I believe in helping needy without expecting anything in return.<br><br>
                            <b> My Strength:</b>  <br>
                            <span style="    padding: 34px;"> •	Determination: People who know me really well, would mention this first about me. Motivated and fully engaged towards reaching a goal, despite obstacles or difficulties.</span><br>
                        <span style="    padding: 34px;">•	Curiosity: Eager to expand my knowledge and learn new things every day. I try to figure out things, ask questions and process information in a way that helps me make good decisions. </span>

                            <br><br><b> My key to Success: Be Creative </b> | Stay Focus | Be Consistent 
                            <br><br><b> Language (Read, Write & Speak):</b>  Marathi | Hindi | English 

                            </p>
                          

                    </div>
                </div>

            </div>
        </div>




        <div class=" mb-3 bg-navy" style="box-shadow: none;">
            <div class="card-header card-collapse " id="basicsHeadingOne" style="border-radius: 0; box-shadow: none;">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 " data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="true" aria-controls="basicsCollapseFour">

                    Qualification
      
                <span class="card-btn-toggle">
                    <span class="card-btn-toggle-default">+</span>
                    <span class="card-btn-toggle-active">−</span>
                </span>
              </button>
                </h5>
            </div>
            <div id="basicsCollapseFour" class="collapse show" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion">
                <div class="card-body">
                    <div class="w-lg-100 mx-lg-auto">
                        <p class="mb-3 text-white"><b>-Education </b>:<br>
                            <p class=" text-white" style="padding:15px">

                                •	Film Making Course in 2011 - Rajashree Institute Mumbai. 
                                •	Finance Management (PGDFM) 2007. <br>
                                •	Diploma in Business Management (PGDBM) 1999. <br>
                                •	BFA & Photography from Sir JJ Institute of Applied Art (ATC) 1993.<br><br>
                            </p>

                        <b><p class=" text-white" >
                            -Addition Qualification: </p>
                        <p class=" text-white" style="padding:15px">
                            •	2D/3D Animation: 3DMax | Maya<br> 
                            •	Design Application: Photoshop | Illustrator | InDesign | Corel <br>
                            •	Video editing : After Effect | Final Cut Pro<br>
                            •	Communication Application – MS office etc..<br>
                            •	Dreamweaver, HTML / PHP coding<br><br>
                        </p>

                        <b><p class=" text-white" >
                            -Marketing & Professional Certifications</p>
                        <p class=" text-white" style="padding:15px">
                            •	Inbound Marketing<br>
                            •	Email marketing<br>
                            •	Data Analyst<br>
                            •	Digital Marketing<br>
                            •	SEO Marketing<br>
                            •	LinkedIn Marketing for Business <br>

                        </p>

                            
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <!-- End Card -->



        <!-- Card -->
        <div class=" mb-3" style="box-shadow: none;">
            <div class="card-header card-collapse" id="basicsHeadingTwo" style="box-shadow: none; border-radius: 0;">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#basicsCollapseFive" aria-expanded="false" aria-controls="basicsCollapseFive">
          Experience
      
                <span class="card-btn-toggle">
                  <span class="card-btn-toggle-default">+</span>
                  <span class="card-btn-toggle-active">−</span>
                </span>
              </button>
                </h5>
            </div>
            <div id="basicsCollapseFive" class="collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion">
                <div class="card-body">
                    <div class="w-lg-100 mx-lg-auto">
                        <p class="mb-3 text-white"><span class="text-dark" >•	Over 23 years experience in Advertising and Communications. <br>
                            •	Responsible for Brand Strategy & management, strategic brand plan, campaign design and execution, leading the brand team, channel strategies, market research and digital marketing initiatives.<br>
                            •	Very good team player with analytical and detailed oriented mind set.<br>
                            •	Expertise in advertising, BTL activity, media planning and product promotion.<br>
                            •	Proficient in developing, monitoring and managing advertising budgets.<br>
                            •	Proficient in reducing costs by implementing process improvements and effective vendor management for advertising, printing and promotion materials.<br>
                            •	Successfully launched new products and managed product promotions pan India at 100 company stores 300 franchisee stores and over a 100 factory outlets for Samsonite India.<br>
                            •	Possess excellent people management skills with an ‘out of the box’ approach to methodology and system development.<br><br>
                            
                          

                    </div>
                    <ul class="step">
                        <!-- Timeline Item -->
                        <li class="step-item">
                            <div class="step-content-wrapper">
                                <span class="step-icon step-icon-sm step-icon-soft-primary bordered-element-light"><i
                                        class="far fa-calendar-alt"></i></span>
                                <div class="step-content">
                                    <span class="timeline-heading text-dark">Feb 2016 - Present</span>
                                    <h4 class="h5 text-danger">Founder & Brand Consultant | Himani's Creative Communication
                                    </h4>
                                    <div class="mb-4">
                                        <p class="mb-2">I have started this company in Feb 2016, for helping Brand Owner & Company for Product Marketing & Strategies, Brand Positioning via thorough Market Research & Analysis, Branding Awareness, Market Survey, Integration
                                            Planning & Advertise their services.
                                        </p>
                                    </div>
                                    <div class="mb-4">
                                        <p class="mb-2">and also... Brand Guideline & Brand Audit | Brand Strategy | Brand Identity Design | Direct Mail Services Design | Merchandising Services Design | Product Concept & Design | Stall Design & Mall Activity | Signage
                                            & Display Design
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End Timeline Item -->

                        <!-- Timeline Item -->
                        <li class="step-item">
                            <div class="step-content-wrapper">
                                <span class="step-icon step-icon-sm step-icon-soft-primary bordered-element-light"><i
                                        class="far fa-calendar-alt"></i></span>
                                <div class="step-content">
                                    <span class="timeline-heading text-dark">Aug 2012 - Jun 2016</span>
                                    <h4 class="h5 text-danger">Manager - Product Development & Advertising | Tenshi Lights Pvt Ltd</h4>
                                    <div class="mb-4">
                                        <p class="mb-2">Tenshi was a Korian base LED manyfacturing company. I worked with them almost 5 Years.
                                        </p>
                                        <p>I am sole responsible for the Brand & Product Development.</p>
                                        <ul>
                                            <li class="">Creation and development of all product promotion materials.</li>
                                            <li>Coordination with designers, agencies, printers for advertising & display materials.
                                            </li>
                                            <li>Coordinating with the advertising agency for releasing advertisements.</li>
                                            <li>Creating and managing all market communication activities - website content, social media, email marketing.</li>
                                            <li>Design and development of packaging solutions.</li>
                                            <li>identifying vendors for effective product display material and equipment for exhibition stalls.
                                            </li>
                                            <li>Planning, preparing and managing budgets and cost estimates for advertising campaigns and vendor management.</li>
                                            <li>Developing marketing plans and strategies and providing support to the marketing managers.
                                            </li>
                                            <li>Pricing strategies for products to be marketed as per customer orders and pricing parameters.
                                            </li>
                                        </ul>
                                        <!-- <small class="d-block text-muted">Mar 7, 12:24 EST</small> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End Timeline Item -->

                        <!-- Timeline Item -->
                        <li class="step-item">
                            <div class="step-content-wrapper">
                                <span class="step-icon step-icon-sm step-icon-soft-primary bordered-element-light"><i
                                        class="far fa-calendar-alt"></i></span>
                                <div class="step-content">
                                    <span class="timeline-heading text-dark">Jul 2005 - Aug 2012</span>
                                    <h4 class="h5 text-danger">Mgr. Advertising & Communication | Samsonite South Asia Pvt Ltd</h4>
                                    <div class="mb-4">
                                        <p class="mb-2">Samsonite is A 100 year old MNC manufacturing luggage and other travel products. Handling a team of designers and inter office coordination. Based at head office; coordinating pan India operations. I worked with
                                            them, almost 7 years.
                                        </p>
                                        <p>Brands handled: Bagzone, Lavie, American Tourister & Samsonite, Samsonite-Black Label.</p>
                                        <ul>
                                            <li class="">Planning and managing a budget of 60 to 70 crore per annum.</li>
                                            <li>Managing advertising, media planning, co-ordination with agencies & vendors.
                                            </li>
                                            <li>Standardizing advertising communications.</li>
                                            <li>Developing online promotion campaigns on search engines and websites.</li>
                                            <li>Coordinating with branch managers pan India for implementation of in- store branding & visual merchandising at company owned and franchise outlets.</li>
                                            <li>Designing and printing of Point-of-Sale material for new and existing products and ensuring on time supply of all advertising material at all store locations.
                                            </li>
                                            <li>Creating and execution of BTL activities for product launches & promotions.</li>
                                            <li>Execution of marketing corporate events through event agencies.
                                            </li>
                                            <li>Managing the marketing budget, monitoring approvals, billing, coordination with accounts for release of payments.
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <!-- End Timeline Item -->

                        <!-- Timeline Item -->
                        <li class="step-item">
                            <div class="step-content-wrapper">
                                <span class="step-icon step-icon-sm step-icon-soft-primary bordered-element-light"><i
                                        class="far fa-calendar-alt"></i></span>
                                <div class="step-content">
                                    <span class="timeline-heading text-dark">Oct 2001 - Jul 2005</span>
                                    <h4 class="h5 text-danger">Merchandising & Design | Zeba Home Textile Pvt Ltd </h4>
                                    <div class="mb-4">
                                        <p class="mb-2">Zeba into Home furnishing, making & design of Textile, Floor Covering Carpet, Dhurries, Home designing Curtain, Bed Cover, Cushion Cover, etc. Handling 5 stores and franchisees in Mumbai. I worked with them almost
                                            4 years.
                                        </p>
                                        <ul>
                                            <li class="">Overseeing visual merchandising, branding and Signages.</li>
                                            <li>Handling vendor management for printing & advertising.
                                            </li>
                                            <li>Assisted in the setting up of new showrooms at Colaba and Bandra.</li>
                                            <li>Managed the administration of showrooms</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>

                        <li class="step-item">
                            <div class="step-content-wrapper">
                                <span class="step-icon step-icon-sm step-icon-soft-primary bordered-element-light"><i
                                        class="far fa-calendar-alt"></i></span>
                                <div class="step-content">
                                    <span class="timeline-heading text-dark"></span>
                                    <h4 class="h5 text-danger">BTL Activity Co-Ordinator | Actis Technology Pvt Ltd  </h4>
                                    <div class="mb-4">
                                        <p class="mb-2">Actis designs and builds Smart Building Infrastructure, 
                                            they giving solutions and help to improve meeting productivity within organizations, and also streamline the management of large office, retail and residential facilities.
                                            <br>I was handling all the sales and marketing collateral improvement and designs.                                            
                                        </p>
                                     
                                    </div>

                                </div>
                            </div>
                        </li>
                        <!-- End Timeline Item -->
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- End Basics Accordion -->


<div class="space-1"></div>

{% endblock content %}